In [20]:
import pandas as pd
import numpy as np
animals = pd.read_csv("./data/sleep_time.csv", index_col="ID").fillna(0)
animals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.9,0.00000,50.000
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [7]:
herbi = animals.where(animals["vore"] == 'herbi')

In [8]:
herbi

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.000,1.35
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.423,600.00
...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
len(herbi)

83

In [11]:
len(herbi.dropna(how='all'))

32

In [14]:
carni = animals.where(animals["vore"] == 'carni')

In [15]:
len(carni.dropna())

19

In [25]:
omni = animals.where( animals["vore"] == 'omni')

0

In [23]:
print('carni mean sleep time:', carni['sleep_total'].mean())
print('herbi mean sleep time:', herbi['sleep_total'].mean())
print('omni mean sleep time:', omni['sleep_total'].mean())

carni mean sleep time: 10.378947368421054
herbi mean sleep time: 9.509375
omni mean sleep time: 10.924999999999999