In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
frame = pd.read_csv('./data/mcdonalds.csv',usecols=["Item","Category","Calories","TotalFat","Sugars","Protein","Cholesterol"])

In [5]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17
1,Breakfast,Egg White Delight,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21

In [4]:
frame.TotalFat.head()

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

In [5]:
frame["TotalFat"].head()

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

In [16]:
frame["TotalFat0"] = 0

In [7]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0

In [17]:
SugarAndFat = frame.Sugars + frame.TotalFat

In [31]:
frame["SugarAndFat"] = SugarAndFat

In [19]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0,16.0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0,11.0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0,25.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0,25.0

In [20]:
frame["SugarAndProtein"] = frame.Sugars + frame.Protein
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0,16.0,20
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0,11.0,21
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0,25.0,16
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0,25.0,23

In [22]:
frame.insert(loc=2,column="SPF",value=frame.Sugars+frame.Protein+frame.TotalFat)

In [23]:
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0,16.0,20
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0,11.0,21
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0,25.0,16
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0,25.0,23

In [24]:
del frame["SugarAndProtein"]

In [25]:
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0,16.0
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0,11.0
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0,25.0
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0,25.0

In [28]:
frame = frame.drop(columns=["SugarAndFat"])

In [29]:
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0

In [32]:
frame.drop(labels="SugarAndFat",axis=1,inplace=True)

In [33]:
frame.drop(columns=["SPF"],inplace=True)

In [34]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0